.container {
  margin-top: 12rem;
  margin-bottom: 12rem;
  text-align: center;
}

img {
  width: 100%;
  max-width: 25rem;
  height: auto;
}

p {
  color: #383838;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
