.articleContent {
  font-size: 1rem;
}

.articleContent p {
  margin-bottom: 1.1rem;
}

.articleContent h1,
.articleContent h2,
.articleContent h3,
.articleContent h4 {
  font-weight: 400;
  margin-bottom: 1.1rem;
}

.articleContent h5,
.articleContent h6 {
  font-weight: 500;
  margin-bottom: 1.1rem;
}

.articleContent h1 {
  font-size: 2rem;
}

.articleContent h2 {
  font-size: 1.75rem;
}

.articleContent h3 {
  font-size: 1.5rem;
}

.articleContent h4 {
  font-size: 1.25rem;
}

.articleContent h5 {
  font-size: 1rem;
}

.articleContent h6 {
  font-size: 0.75rem;
}

.articleContent img {
  width: 100%;
}

.articleContent ul,
.articleContent ol {
  margin-bottom: 1.1rem;
  padding-left: 2rem;
}

.articleContent code {
  font-family: monospace;
  font-size: 0.9rem;
  background-color: rgba(110, 118, 129, 0.2);
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
}

.articleContent blockquote {
  padding-left: 1rem;
  border-left: 5px solid #e0e0e0;
  color: #616161;
}

.articleContent kbd {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  font: 0.6rem monospace;
  line-height: 1rem;
  vertical-align: middle;
  background-color: #e0e0e0;
  border: solid 1px rgba(110, 118, 129, 0.4);
  border-bottom-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(110, 118, 129, 0.4);
}

.poetry {
  margin-bottom: 1.1rem;
}

.poetry p {
  text-indent: -1em;
  padding-left: 1em;
  margin: 0;
}
