.authAlternativeMessage {
  overflow: hidden;
  text-align: center;
}

.authAlternativeMessage::before,
.authAlternativeMessage::after {
  background-color: #cecece;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.authAlternativeMessage::before {
  margin-left: -50%;
  right: 1rem;
}

.authAlternativeMessage::after {
  margin-right: -50%;
  left: 1rem;
}
